<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - Taylor Swift</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-bar__left">
                <div class="logo">
                    <a href="#">Logo</a>
                </div>
            </div>
            <div class="nav-bar__right">
            <ul class="links">
                <li><a href="#">Shop Now /</a></li>
                <li><a href="#">Tour Dates /</a></li>
                <li><a href="#">Directed Projects /</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
        </nav>
    </header>
    <div class="hero">
        <div class="hero__content">
            <h2>The tortured poets department</h2>
            <p>AVAILABLE NOW</p>
            <button type="submit" class="primary-btn">stream / download</button>
        </div>
        <div class="hero__picture">
            <img src="poets_department.png" alt="Taylor Swift">
        </div>
    </div>
    <section class="store">
        <div class="store__header">
            <div class="header__left">
                <h2>Store</h2>
            </div>
            <div class="header__right">
            <button type="submit" class="primary-btn">shop official store</button>
        </div>
    </div>
        <div class="store__main">
            <div class="card">
                <img src="spacecat.png" alt="Store Item 1">
                <h3>Item 1</h3>
                <button type="submit" class="primary-btn">buy</button>
            </div>
            <div class="card">
                <img src="spacecat.png" alt="Store Item 2">
                <h3>Item 2</h3>
                <button type="submit" class="primary-btn">buy</button>
            </div>
            <div class="card">
                <img src="spacecat.png" alt="Store Item 3">
                <h3>Item 3</h3>
                <button type="submit" class="primary-btn">buy</button>
            </div>
            </div>
        </div>
    </section>
    <section class="tour">
        <div class="tour__header">
            <img src="poets_department.png" alt="daylaanh">
            </div>
        <div class="tour__main">
             <button type="submit" class="primary-btn">US Date</button>
            <button type="submit" class="primary-btn">International Dates</button>
            <button type="submit" class="primary-btn">Tour Microsite</button>
            <button type="submit" class="primary-btn">Stream on disney</button>
        </div>    
    </section>
    <section class="directed-project">
        <h2>Directed Projects</h2>
    </section>
    <section class="sign-up">
        <div class="sign-up__header">
            <h2>sign up  to receive updates</h2>
            <p>By providing this information, you are opting to receive emails from Taylor Nation with news, special offers, promotions and messages tailored to your interests, and you agree to the UMG/Taylor Nation privacy policy and terms of use. Fields marked with an asterisk (*) are required. International customers will receive an email to confirm your subscription to above mailing list.</p>
        </div>
        <div class="sign-up__form">
            <button type="submit" class="primary-btn">submit</button>
        </div>
    </section>
    <hr>
    <footer class="footer">
        <div class="social-media">
            <p>f</p>
            <p>i</p>
            <p>t</p>
            <p>x</p>
            <p>y</p>
        </div>
        <div class="our-team">
            <a href="#">about</a>
            <a href="#">contact</a>
            <a href="#">privacy policy</a>
            <a href="#">terms of use</a>
        </div>
    </footer>
</body>
</html>